<div class="list-group">
  <a routerLink="" class="list-group-item">
    <i class="fa fa-dashboard"></i>
    <span class="hidden-sm-down"> Home</span>
  </a>
  <a routerLink="artist" class="list-group-item">
    <i class="fa fa-user"></i>
    <span class="hidden-sm-down"> List</span>
  </a>
  <a routerLink="/artist-add" class="list-group-item">
    <i class="fa fa-list"></i>
    <span class="hidden-sm-down"> Add</span>
  </a>
  <!--a class="list-group-item">
    <i class="fas fa-search"></i>
    <span class="hidden-sm-down"> Search</span>
  </a>
  <form class="form-inline md-form form-sm">
    <i class="fas fa-search" style="color: #ccc" aria-hidden="true"></i>
    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search" mdbInput>
  </form -->
</div>