<h1>Artist List</h1>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th class="col-6">Name</th>
      <th class="col-3">Genre</th>
      <th class="col-1"></th>
      <th class="col-1"></th>
    </tr>
  </thead>
  <tr
    *ngFor="let resmodel of resmodels; let i = index; let keyarr; of: keyarrs"
  >
    <td>
      {{ resmodel.name }}
    </td>
    <td>
      {{ resmodel.genre }}
    </td>
    <td>
      <button type="button" class="btn btn-info" (click)="onEdit(i)">
        Edit
      </button>
    </td>
    <td>
      <button type="button" class="btn btn-danger" (click)="onDelete(i)">
        Delete
      </button>
    </td>
  </tr>
</table>
